.section {
    position: relative;
    height: 100vh;
    background-color: rgb(182, 196, 143);
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: block;
    margin-top: 20px;
}